@import './../colors';

.banner {
    background: url('./../../assets/images/mithun.jpg') no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 650px;
        background: rgba(0, 0, 0, 0.3);
    }

    .banner__info {
        position: relative;
        color: $color--white;
        height: 650px;
        h1 {
            font: $font-size--title $font--semibold;
        }
        h2 {
            max-width: 450px;
            font: $font-size--xl $font--regular;
        }
    }
    .banner__detail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .banner__title {
        font: $font-size--l $font--regular;
    }

}