<div class="about">
  <h1 class="about__heading text-center">About Me</h1>
  <div class="about__description">
    <h2>Hi, I am Mithun S</h2>
    <p>
      I am a multidisciplinary software developer based out in Bangalore, India.
      I work as a Frontend Developer at
      <a href="https://specbee.com" rel="nofollow" target="_blank">Specbee</a>
      where I wear a lot of hats. Mostly, I am mostly involved in self learning
      and Proof Of Concept projects. But apart from that I also handle multiple
      projects of different size in my work environment.
    </p>
    <p>
      I am basically a drupal developer but my intrest on frontend development
      has made me a frontend developer today. I always believe in the facts that
      <strong><i>"All things are difficult before they become EASY"</i> </strong
      >. The implication is that we should be patient with learning, and with
      learners. What seems easy to us now may have been difficult at first.
    </p>
  </div>
  <div class="work__experience">
    <h2>Work Experience</h2>
    <div class="experience__description">
      <div class="experience__info col-lg-6 col-12">
          <h4>Specbee Consulting Services</h4>
          <p>Working as a frontend developer in Bangalore, India </p>
          <p>From July 2018 - present</p>
      </div>
      <div class="company__logo col-lg-6 col-12">
          <a href="https://specbee.com">
          <img src="./../../assets/images/logo-company.svg">
        </a>
      </div>
    </div>
  </div>
</div>
