@import "./variables";

$color--white: #fff;
$color--primary: #000;
$color--active: #f0860c;
$color--red: #ff0000;
$color--border: #ccc;
$color--pale-black: #777;
$color--ghostwhite: #F8F8FF;
$color--smoky-black: #322f30;
$color--facebook: #3d5b99;
$color--twitter: #00aced;
$color--linked-in: #0073a4;
$color--github: #5a32a3;