@import "../../colors";

header {
    background: $color--primary;
    position: relative;

    .row {
        padding: 20px 0;
        justify-content: space-between;
        position: relative;
    }
    .header__logo {
        a {
            font: $font-size--xxxl $font--semibold;
            text-transform: uppercase;
            color: $color--white;
        
        }
    }

    .active {
        background: $color--primary;
        display: block !important;
        position: absolute;
        top: 80px;
        left: 50% !important;
        height: 506px;
        max-width: 50%;
        background-color: #000;
        z-index: 10;
        transition: left .5s ease;

        @include bp-medium() {
            position: unset;
            background-color: unset;
            height: unset;
            max-width: 100%;
        }
    }
    .header__navigation {
        left: 50% !important;
        @include bp-medium() {
            left: unset;
        }
        a {
            font-size: $font-size--l;
            color: $color--white;
        }

        .menu {
            padding: 0;
            display: block;
                li {
                    margin-bottom: 30px;
                    @include bp-medium() {
                        margin-bottom: 0;
                    }
                }
    
            @include bp-medium() {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .header__breadcrumb {
        text-align: end;
        img {
            width: 32px;
        }
    }
}
