@import './../../colors';

.footer-social-icons {
    width: 100%;
    margin: 0 auto;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0 30px;
    flex-wrap: wrap;
    text-align: center;
    @include bp-medium() {
        text-align: unset;
        padding: 50px 0 30px;
    }
    h5 {
        margin-bottom: 16px;
    }
}
.social-icons {
    padding: 0;
    flex: 0 0 100%;
    @include bp-medium() {
        padding: 0 0 0 40px;
        flex: unset;
    }
} 
.social-icon {
    color: #fff;
}
.fa {
    font-size: $font-size--l;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    transition: .5s;
    background-color: $color--smoky-black;
}
.fa-facebook:hover {
    background-color: $color--facebook;
}
.fa-twitter {
    padding:10px 12px;
    transition: .5s;
    background-color: $color--smoky-black;
}
.fa-twitter:hover {
    background-color: $color--twitter;
}

.fa-linkedin {
    padding:10px 14px;
    transition: .5s;
    background-color: $color--smoky-black;
}
.fa-linkedin:hover {
    background-color: $color--linked-in;
}
.fa-github {
    padding:10px 14px;
    transition: .5s;
    background-color: $color--smoky-black;
}
.fa-github:hover {
    background-color: $color--github;
}